body {
    background: #eee;
    text-align: center;
    padding: 0 25px;
    font-family: Helvetica Nueue, Helvetica, sans-serif;
    font-weight: 200;
}

#main {
    width: 500px;
    margin: auto;
    text-align: left;
    background: white;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
    margin-bottom: 5px;
    padding: 5px;
}

#main h1 span {
    font-style:italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
}

form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 12px;
    padding: 5px;
}

.chat {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #eee;
}

.chat .username {
    font-weight: 800;
}

.chat:hover {
    background-color: #ddd;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

.user {
    position: relative;
    float: left;
    text-align:left;
    padding: 10px;
    font-weight: bold;
    border: 1px solid black;
}

.user:hover {
    text-decoration: underline;
    cursor: pointer;
}

.text {
    position: relative;
    text-align:left;
}

.userBox .roomBox {
    display: block;
    margin: 10px 0 10px 0;
}

.messageBox {
    display: block;
    height: 300px;
    width: 90%;
    margin: 0 0 10px 0;

}

.friend {
    font-weight: 800;
    color: blue;
}

select {
    display: block;
    width: 300px;
}

form {
    border: 1px solid black;
}

